* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-size: 1.4rem;
    font-weight: 400;
    color: #666;
    background-color: #fff;
}

.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: fixed;
    width: 100%;
    z-index: 25;
    transition: all .3s ease;
}

.header-scroll {
    background: rgba(0, 0, 0, 0.2)
}

.img {
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.site-logo {
    display: inline-block;
}

.header-row {
    flex-direction: row;
    align-items: center;
}

.img {
    display: block;
}

.logo-link {
    position: relative;
    margin-left: -15px;
    z-index: 6;
    margin-bottom: -25px;
}

.logo-img {
    width: 70px;
}

.menu {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

nav {
    display: flex;
    padding-bottom: 1px;
}

.menu-list {
    display: flex;
}

.menu-link {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border-bottom: 2px solid transparent;
    display: block;
}

.header__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    width: 153px;
    height: 45px;
    border-radius: 22.5px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color .25s ease-in-out;
    font-weight: 600;
    color: white;
    border: 1px solid #fcdb5a;
}

a {
    display: block;
    text-decoration: none;
}

.get-in-touch-btn {
    background-color: transparent;
    display: none;
    background-color: #fcdb5a;
    color: #3d3d29;
}

.get-in-touch-btn:hover {
    background-color: transparent;
    color: #e50a0a;
}

.slider__btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn-discover {
    width: 160px;
    height: 45px;
    color: white;
    border: 2px solid #fcdb5a;
    font-size: 12px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transition: background-color .25s ease-in-out;
    background-color: transparent;
    color: white;
}

.btn-discover:hover {
    background-color: #fcdb5a;
    color: #3d3d29;
}

.slider {
    background-image: url(images/bg-home_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    min-height: 560px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.slider-row {
    padding-top: 120px;
}

.slider-content {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 2.2rem;
    line-height: 1.2;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: color .3s ease-in-out;
}

.text-white {
    color: white;
}

.name {
    display: none;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.start-screen {
    position: relative;
    height: 100vh;
}

.text-center {
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

.pos-rel {
    position: relative;
}

.scroll-discover {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -80px;
    margin-left: -7px;
    width: 15px;
    height: 130px;
}

.scroll-discover:before {
    content: "";
    position: absolute;
    width: 5px;
    background-color: #fcdb5a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    top: 10px;
    left: 0;
    height: 75px;
}

.scroll-discover:after {
    content: "";
    position: absolute;
    width: 5px;
    background-color: #fcdb5a;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    right: 0;
    height: 100%;
}

.section {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    z-index: 0;
}

.__title {
    margin-top: 0;
}

.__title span {
    font-weight: 100;
    font-family: Raleway, sans-seri;
}

.section-heading {
    margin-bottom: 60px;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 300;
    color: #b3b3b3;
}

.section-heading--center {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    text-align: center;
}

.section-heading p {
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: 300;
    color: #b3b3b3;
}

h2 span {
    font-weight: 100;
}

.services-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 10px;
}

.service-img {
    width: auto;
    height: 60px;
    margin-bottom: 20px;
}

.title__h5 {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: Raleway, sans-serif;
}

.special-products {
    background-image: url(images/special_offer_text_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.special-offer__h2 {
    color: #4d4d33;
    font-weight: 100;
}

.special-offer {
    text-align: center;
}

.special-products-row {
    margin: 100px 0;
}

.about__btn {
    display: none;
}

.hover:hover {
    background-color: #fcdb5a;
}

.about__img {
    display: block;
    width: -webkit-fill-available;
}

main p {
    margin-top: 25px;
    margin-bottom: 25px;
}

.section-yellow {
    background-color: #fcdb5a;
}

.__inner {
    margin-bottom: -30px;
}

.__item {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}


.align-middle {
    vertical-align: middle;
}

.d-table {
    display: table !important;
}

.d-table-cell {
    display: table-cell;
}

.__ico {
    width: 85px;
    margin-right: 15px;
}

main p:first-child {
    margin-top: 0;
}

.__count {
    line-height: 1;
    font-size: 2.7rem;
    font-weight: 900;
    color: #333;
}

.counter .__item .__title {
    line-height: 1.2;
    font-size: 15px;
    font-weight: 700;
    font-family: Raleway, sans-serif;
    color: #8a8a5c;
}

.counter .__item p {
    margin-top: 10px;
    margin-bottom: 10px;
}

[class*=base-bg] .counter .__item .__title {
    color: #9a8841;
}

.product-preview {
    width: 100%;
}

.___intro-text-row,
.__inner-row [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

.about-agro-row [class*="col-"] {
    padding: 0 5px;
}

.product-preview .__inner {
    margin-bottom: -10px;
}

.product-preview .__item {
    height: 325px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    transition: padding .5s;
}

.__intro-text {
    margin-left: auto;
    width: 100%;
    max-width: 580px;
}

.product-preview .row {
    margin-left: -5px;
    margin-right: -5px;
}

.section--no-pt {
    padding-top: .05px !important;
}

.custom-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 28px;
    padding-right: 28px;
    line-height: 1;
    font-size: 0.8rem;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0;
    color: #4f4a37;
    border: 2px solid #fcdb5a;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    box-shadow: none;
    outline: 0;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
}

.custom-btn--medium {
    min-width: 160px;
    min-height: 54px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.product-preview .__item .__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    -webkit-transition: top .5s, right .5s, bottom .5s, left .5s;
    -o-transition: top .5s, right .5s, bottom .5s, left .5s;
    transition: top .5s, right .5s, bottom .5s, left .5s;
}

.product-preview .__item .__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.product-preview .__item .__image+.__content {
    background-color: rgba(51, 51, 51, .2);
}

.product-preview .__item .__content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    transition: background-color .3s ease-in-out;
}

.product-preview .__item .__title {
    color: inherit;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}

.product-preview .__item .__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-preview .__item .__link:hover {
    background-color: rgba(70, 130, 180, 0.6);
}

.number12 {
    font-size: 33px;
    font-weight: 900;
}

.__title- {
    font-size: 34px;
    font-weight: 900;
    color: white;
}

.section--review {
    background-image: url(images/review_bg_1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.section--no-pb {
    padding-bottom: 0.5px !important;
}

.simple-banner {
    background-color: #f1f1f1;
    position: relative;
}

.__label {
    position: absolute;
    right: 25%;
    top: 12%;
    width: 185px;
    height: 185px;
    background-color: #fcdb5a;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: #bba243;
}

.m-auto {
    margin: auto !important;
}

.h-100 {
    height: 100% !important;
}

.d-table {
    display: table !important;
}

.num-1 {
    line-height: .8;
    font-size: 5rem;
    color: #333;
}

.num-2 {
    font-size: 2.3rem;
    color: #333;
}

.d-table-cell span {
    display: block;
    text-align: left;
}

.kg {
    font-size: 1.8rem;
}

.banner-text {
    padding-top: 85px;
    padding-bottom: 120px;
}

.banner-text .__title {
    line-height: 1;
    text-transform: none;
}

.h1 {
    font-size: 2.8rem;
}

.freshApples {
    display: block;
    color: #c6c820;
    position: relative;
}

.posts .__item {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.post-item {
    margin-bottom: 20px;
    position: relative;
}

.post-item-img {
    display: block;
    width: 100%;
}

.post-item-content {
    padding: 15px;
    margin-top: 25px;
    text-align: center;
}

.logo-link img {
    height: 90px;
}

.category {
    margin-bottom: 10px;
    line-height: 1.2;
    font-size: 0.8rem;
    margin-top: 25px;
}

.category a {
    color: #ddc051;
}

.post-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.post-title a {
    color: #333;
    font-size: 1.1rem;
    font-family: Raleway, sans-serif;
}

.post-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-btn {
    margin-top: 10px;
}

.post-row {
    flex-direction: row;
}

.post-row [class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;

}

.__date-post {
    position: absolute;
    top: 0;
    left: 20px;
    display: inline-block;
    background-color: #fcdb5a;
    min-width: 60px;
    padding: 13px 10px;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    color: #9a8841;
    font-size: 0.8rem;
    text-transform: capitalize
}

.__date-post strong {
    display: block;
    margin-bottom: 2px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    color: #333;
}

.label-item {
    width: 100%;
    display: inline-block;
}

.label-item {
    display: flex;
    justify-content: center;
}

.post-row {
    margin-left: -15px;
    margin-right: -15px;
}

.section--dark-bg {
    background-color: #333;
}

.title-white {
    color: white;
}

form {
    position: relative;
}

.contact-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
}

.input-wrp {
    position: relative;
    display: block;
    width: 100%;
    line-height: 1;
    margin-top: 20px;
}

.textfield {
    height: 44px;
    display: block;
    float: none;
    width: 100%;
    background: padding-box none;
    border: none;
    border-bottom: 1px solid #dadada;
    padding: 13px 0;
    line-height: 1.2;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: #dadada;
    box-shadow: none;
    outline: 0;
    appearance: none;
}

.textfield:hover {
    color: #fcdb5a;
}

input::placeholder {
    color: #dadada;
}

form textarea {
    resize: vertical;
    min-height: 125px;
    height: 100%;
    overflow: auto;
}

textarea::placeholder {
    color: #dadada;
}

.wide {
    width: 100%;
    background-color: transparent;
    color: white;
}

.wide:hover {
    background-color: #fcdb5a;
    color: #4f4a37;
}

form button {
    cursor: pointer;
    box-shadow: none;
    outline: 12px;
    margin-top: 55px;
}

.footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.footer__item {
    width: 100%;
    margin-bottom: 40px
}

.site-logo {
    display: inline-block;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

address {
    line-height: 1.6;
    font-style: normal;
}

address p {
    font-size: 13px;
    margin-top: 10px;
}

address p:first-child {
    margin-top: 0 !important;
}

.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

address p:last-child {
    margin-bottom: 0 !important;
}

address a {
    text-decoration: underline;
    color: inherit;
}

.footer__item {
    width: 100%;
    margin-bottom: 35px;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.social-link {
    padding: 0 7px;
}

.social-link:hover {
    color: teal;
}

.footer-fa {
    color: #ccc;
}

.footer-fa:hover {
    color: #a79191;
}

.h6 {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 20px;
    transition: color .3s ease-in-out;
}

.form--horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.form--horizontal .input-wrp {
    flex: 1;
    padding-right: 20px;
    margin-top: 0;
}

.subscribe-btn {
    margin-top: 0;
    background-color: transparent;
}

.footer__navigation:first-child {
    margin-top: -10px;
}

.footer__navigation {
    position: relative;
    text-align: left;
}

.footer__navigation a {
    color: inherit;
}

.footer__navigation ul {
    margin-left: -35px;
    line-height: 0;
    font-size: 0;
    letter-spacing: -1px;
}

.footer__navigation li {
    margin-left: 35px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0;
    white-space: normal;
}

.active a {
    color: #c2c2c2;
}

.footer__navigation li.active>a:not(.custom-btn):after {
    left: 0;
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.footer__navigation li a:not(.custom-btn):after {
    content: "";
    display: block;
    position: absolute;
    top: 104%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fcdb5a;
}

.__copy {
    color: #b4b4b4;
    font-size: 0.8rem;
}


@media (min-width: 576px) {
    .name {
        display: block;
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 14px;
    }

    .btn-discover {
        width: 200px;
        height: 60px;
        margin-bottom: 40px;
    }

    .section__title {
        font-size: 2.5rem;
        text-align: center;
    }

    .about__btn {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        width: 155px;
        height: 55px;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 12px;
        cursor: pointer;
        border: none;
        outline: none;
        transition: background-color .25s ease-in-out;
        font-weight: 800;
        color: #5c5c3d;
        border: 2px solid #fcdb5a;
        font-family: 'Raleway', sans-serif;
    }

    .text-white {
        font-size: 3.4rem;
    }

    .text-center {
        font-size: 16px;
    }

    .mb-100 {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .post__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    .row-labels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .padding-r-15 {
        padding-right: 15px;
    }

    .padding-l-15 {
        padding-left: 15px;
    }

    .col-s-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .col-s {
        flex-basis: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .row-footer {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .slider__btn {
        margin-top: 50px;
    }

    .section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .section--gutter {
        margin-left: 20px;
        margin-right: 20px;
    }

    .padding-sm-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .row {
        flex-direction: row;
    }

    .simple-banner {
        background-position: top right;
        background-image: url(images/banner_bg_1.png);
        background-repeat: no-repeat;
    }

    .d-md-block {
        display: block;
    }

    .mb-100 {
        margin-bottom: 50px;
        margin-top: 0;
    }

    .post__content {
        margin: -40px 20px 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    .site-logo {
        margin-top: -30px;
    }

    .align-items-md-center {
        align-items: center;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
}

@media (max-width: 991px) {
    .menu {
        display: flex;
        justify-content: flex-end;
    }

    .navigation {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
        padding: 50px;
        background-image: url(images/mobile_bg-1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30% 0;
        justify-content: center;
        z-index: 19;
    }

    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }

    .menu-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .menu-item {
        display: flex;
        padding: 8px;
    }

    .menu-link {
        font-size: 30px;
        padding: 3px;
        text-transform: uppercase;
    }

    .nav-mobile-menu {
        width: 21px;
        height: 21px;
        position: relative;
        z-index: 21;
    }

    .nav-mobile-menu span {
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }

    .nav-mobile-menu span:nth-child(1) {
        top: 1px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 9px;
    }

    .nav-mobile-menu span:nth-child(3) {
        bottom: 1px;
    }

    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(225deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-225deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        z-index: 20;
    }

    .about__text {
        margin-top: 60px;
    }

    .label-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media(min-width: 992px) {
    .top-bar__logo {
        margin-left: 0;
    }

    .logo-img {
        height: auto;
        width: 100px;
    }

    .get-in-touch-btn {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
    }

    p {
        font-size: 14px;
    }

    .section {
        padding-top: 140px;
        padding-bottom: 140px;
    }

    .agro-bg-img {
        background-image: url(images/agro.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .about__text p:first-child {
        margin-bottom: 0;
    }

    .col-about__text {
        display: flex;
        align-items: flex-start;
    }

    .row {
        flex-wrap: wrap;
    }

    .text-white {
        font-size: 4.5rem;
    }

    .logo-link img {
        height: auto;
    }

    .logo-link {
        margin-left: 0;
    }

    .add-height {
        height: 195px;
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }

    .text-md-right {
        text-align: right !important;
    }

    .footer__navigation:first-child {
        margin-top: 2px;
    }

}

@media (min-width: 1200px) {
    .top-bar {
        padding-left: 40px;
        padding-right: 40px;
    }

    .slider__btn_space-below {
        height: 70px;
    }

    .about__text {
        margin-top: 40px;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .mb-100 {
        margin-bottom: 100px;
    }

    .add-height {
        height: 244px;
    }

    .offset-xl-1 {
        margin-left: 8.33333%;
    }

    .pr-md {
        padding-right: 12% !important;
    }
}